<div class='d-flex flex-row justify-content-evenly mt-3 d-flex align-items-baseline'>
  <div class='card text-white bg-info mb-3 flex-fill me-4'>
    <div class="d-flex card-header justify-content-center">
      <p>Created by {{blogpost.user.name}} on {{ blogpost.createdAt}}</p>
    </div>
    <div class="d-flex justify-content-center card-title">
      <h1>{{blogpost.title}}</h1>
    </div>
    <div class="d-flex justify-content-center card-body">
      <div class="card-text">
        {{blogpost.text}}
      </div>
    </div>
    {{#if blogpost.comments}}
      <div class="card mt-5"></div>
      <h3 class="card-title d-flex justify-content-center">Comments!</h3>
      {{#each blogpost.comments}}
        <div class="card-header">
          <p class="card-body d-flex justify-content-center">{{text}}</p>
        </div>
      {{/each}}
    {{/if}}
  </div>

  <div class='mb-3 border p-3 flex-fill ms-4'>
    <h2>Add a Comment</h2>
    <form class="form comment-form" data-id="{{blogpost.id}}">
      <div class="form-group">
        <label for="text-comment" class="form-label">Comment Text:</label>
        <input class="form-input form-control mt-3" type="text" id="text-comment" />
      </div>
      <div class="form-group">
        <button class="btn btn-success mt-3" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/comments.js"></script>